@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.my-card {
    min-width: 18rem;
    margin-right: 1rem;
}

.bold {
    font-weight: bold;
}

.w-65 {
    width: 65%;
}

.w-35 {
    width: 35%;
}

.big {
    font-size: 6rem;
    font-family: "VT323";
}

.medium {
    font-size: 4rem;
    font-family: "VT323";
}

.h-35 {
    height: 37vh;
}
